html,body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: white;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bold{
  text-transform: uppercase;
}

.section_title_light {
  margin: 100px auto;
  font-size: 300%;
  text-align: center;
  color: #FFC961;
}

.separateur_dark{
  width: 80px;
  margin: 0 auto;
  height: 3px;
  background-color: white;
}

.separateur_light{
  width: 80px;
  margin: 0 auto;
  height: 3px;
  background-color: #FFC961;
}

.section_title_light span{
  color: black;
}

.section_title_dark {
  margin: 100px auto;
  font-size: 300%;
  text-align: center;
  color: white;
}

.section_title_dark span{
  color: black;
}

@media screen and (max-width: 800px){
  .section_title_light {
    font-size: 200%;
  }
  .section_title_dark {
    font-size: 200%;
  }
}

/* NAVBAR */

nav{
  display: flex;
  position: fixed;
  background-color: #FFC961;
  width: 100%;
  top: 0;
  left: 0 ;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.6s;
  padding: 25px 50px;
  z-index: 998;
}

nav .logo{
   font-weight: 700;
   font-size: 130%;
   color: white;
   letter-spacing: 2px;
}

nav .logo span {
  color: black;
}

nav ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

nav ul li{
  position: relative;
}

nav ul li a{
  display: inline-block;
  position: relative;
  margin: 0 15px;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

nav ul li a:hover{
  background: none;
}

nav ul li a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 100%;
}

nav a.icon{
  display: none;
  position: absolute;
  right: 16px;
  top: 16px;
}


@media screen and (max-width: 1080px){

  nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav ul{
    display: none;
    flex-direction: column;
    min-height: 100vh;
    margin-right: 15%;
  }

  nav ul li{
    margin: 20px auto;
  }

  nav ul li a{
    font-size: 30px;
  }

  nav .logo{
    position: absolute;
    top: 16px;
    left: 16px;
  }

  nav a.icon {
    z-index: 1;
    color: white;
    display: block;
  }

  nav a.icon:hover{
    color: black;
  }
}

/* HEADER */

header {
  background: url('IMG/lucas2.png') no-repeat;
  background-position: bottom right;
  background-size: 50%;
  align-items: center;
  min-height: 80vh;
  background-color: #FFC961;
  padding: 10% 10%;
}

.header_content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  text-transform: uppercase;
}

h1 {
  font-size: 600%;
  font-family: "Courier New", Courier, monospace;
  color: white;
  position: relative;
  opacity: 0;
  top: -50px;
}

h1 span {
  font-family: "Courier New", Courier, monospace;
  color: black;
}

.title h2 {
  color: white;
  z-index: 4;
}

.dl_cv {
  display: block;
  width: 220px;
  text-align: center;
  margin-top: 45px;
  padding: 20px;
  color: white;
  opacity: 0;
  border: 2px solid white;
  transition: 0.2s ease-in-out;
}

.dl_cv:hover {
  background-color: white;
  color: #FFC961;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 300%;
  }
  .title h2{
    font-size: 20px;
  }

  header{
    background-size: 90%;
  }

}

/* EDUCATION */

#education {
  width: auto;
  min-height: 100vh;
  background-color: white;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (max-width: 550px) {
  .education_title {
    width: 90%;
  }
}

.wrapper2 {
  padding: 30px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #FFC961;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #FFC961;
  border: 4px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #FFC961;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FFC961;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #FFC961;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFC961 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #FFC961;
  color: white;
  position: relative;
  border-radius: 6px;
}

.content h2, h4{
  color: black;
}


@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #FFC961;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFC961 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/* SKILLS */

#skills {
  background-color: #FFC961;
  width: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0 80px;
}

.skills_box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 10%;
}

.responsive_box{
  display: flex;
  background-color: white;
  padding: 30px;
  width: 310px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.responsive_box:hover{
  filter: invert(100%);
}

.responsive_box h4{
  text-align: center;
}

.skills_box p{
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
}

@media screen and (max-width: 1080px){
  .responsive_box:hover{
    filter: invert(0);
  }
  .skills_box p{
    color: black;
  }
}

.nom_langage {
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 550px) {
  .skill_title {
    width: 90%;
  }
}

.wrapper_dev {
  width: 80%;
  margin: 0 auto;
}

.skill_bar,
.html_color,
.css_color,
.js_color,
.react_color,
.bootstrap_color,
.php_color,
.postgresql_color,
.git_color {
  height: 35px;
}

.html_color,
.css_color,
.js_color,
.react_color,
.bootstrap_color,
.php_color,
.postgresql_color,
.git_color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
}

.html_color p,
.css_color p,
.js_color p,
.react_color p,
.bootstrap_color p,
.php_color p,
.postgresql_color p,
.git_color p {
  font-size: 15px;
}

.skill_bar {
  background-color: lightgrey;
}

.html_color {
  width: 95%;
  background-color: #fe5f00;
}

.css_color {
  width: 90%;
  background-color: #0191e2;
}

.js_color {
  width: 60%;
  background-color: #e49a1c;
}

.bootstrap_color {
  width: 50%;
  background-color: #592aae;
}

.php_color {
  width: 40%;
  background-color: #006400;
}

.postgresql_color {
  width: 60%;
  background-color: #0169b6;
}

.git_color {
  width: 75%;
  background-color: black;
}

.langage {
  display: flex;
  flex-direction: row;
}

.langage img {
  height: 35px;
  width: 35px;
  transform: translateY(38%);
  margin-right: 15px;
}

/* PROJETS */

#portfolio {
  width: auto;
  min-height: 100vh;
  background-color: white;
  margin: 0 auto;
  padding: 20px 0;
}

.portfolio_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  transform: translateY(150px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 30px 30px;
  opacity: 0;
  text-align: center;
  font-family: arial;
}

.card h3{
  font-size: 150%;
}

.card p{
  margin: 20px 20px;
}

.titre {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  background-color: #FFC961;
  color: white;
}

/* FOOTER */

footer{
  background-color: #FFC961;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20% 20px;
}

footer p{
  color: white;
  font-size: 13px;
}

.reseaux{
  margin: 20px auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reseaux a{
  margin: 0 10px;
  transform: translateY(18px);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.reseaux img:hover{
  filter: invert(100%);
}

