html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

hr.style-one {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-width: 3px 0 0 0;
  border-radius: 20px;
}

hr.style-one:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.bold{
  text-transform: uppercase;
}

.section_title_light {
  margin: 20px auto;
  font-size: 300%;
  text-align: center;
  color: #272932;
}

.section_title_light span{
  color: #9e90a2;
}

.section_title_dark {
  margin: 20px auto;
  font-size: 300%;
  text-align: center;
  color: whitesmoke;
}

.section_title_dark span{
  color: #9e90a2;
}

@media screen and (max-width: 800px){
  .section_title_light {
    font-size: 200%;
  }
  .section_title_dark {
    font-size: 200%;
  }
}

/* NAVBAR */

header{
  display: flex;
  position: fixed;
  background-color: #272932;
  width: 100%;
  top: 0;
  left: 0 ;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.6s;
  padding: 25px 50px;
  z-index: 999;
}

header .logo{
   font-weight: 700;
   font-size: 130%;
   color: whitesmoke;
   letter-spacing: 2px;
   transition: 0.6s;
}

header .logo span {
  color: #9e90a2;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header ul li{
  position: relative;
}

header ul li a{
  display: inline-block;
  position: relative;
  margin: 0 15px;
  color: whitesmoke;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

header ul li a:hover{
  background: none;
}

header ul li a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.3s;
}

header ul li a:hover::after{
  width: 100%;
}

header a.icon{
  display: none;
  position: absolute;
  right: 16px;
  top: 16px;
}

@media screen and (max-width: 1080px){

  header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header ul{
    display: none;
    flex-direction: column;
    min-height: 100vh;
    margin-right: 15%;
  }

  header ul li{
    margin: 20px auto;
  }

  header ul li a{
    font-size: 30px;
  }

  header .logo{
    position: absolute;
    top: 16px;
    left: 16px;
  }

  header a.icon {
    z-index: 1;
    color: whitesmoke;
    display: block;
  }

  header a.icon:hover{
    color: #b6c2d9;
  }
}

/* ABOUT */

#about {
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color: #272932;
}

.about_txt {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  text-transform: uppercase;
  margin: 250px 0 0 30px;
  padding-bottom: 30px;
  z-index: 1;
}

.title h1 {
  font-size: 600%;
  color: whitesmoke;
  position: relative;
  opacity: 0;
  top: -50px;
}

.title h1 span {
  font-family: "Courier New", Courier, monospace;
}

.bouillon {
  color: #b6c2d9;
}

.title h2 {
  color: whitesmoke;
  /*opacity: 0;
  position: relative;
  right: 150px;*/
}

.dl_cv {
  display: block;
  width: 220px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  color: white;
  opacity: 0;
  border: 2px solid whitesmoke;
  transition: 0.2s ease-in-out;
}

.dl_cv:hover {
  background-color: whitesmoke;
  color: #272932;
}

.about_img {
  width: 40%;
  position: relative;
}

.about_img img {
  filter: drop-shadow(5px 0 0 black);
  position: absolute;
  width: 100%;
  opacity: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1036px) {
  #about {
    flex-direction: column;
    min-height: auto;
  }

  .about_img {
    width: 60%;
    transform: translateX(66%);
  }

  .about_txt{
    margin: 100px 15px 250px 15px;
  }

  .dl_cv {
    transform: translateY(60%);
  }

  .title h1 {
    font-size: 300%;
  }

  .title h2 {
    font-size: 100%;
  }
}

/* EDUCATION */

#education {
  width: auto;
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (max-width: 550px) {
  .education_title {
    width: 90%;
  }
}

.wrapper2 {
  padding: 30px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #272932;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #272932;
  border: 4px solid whitesmoke;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #272932;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #272932;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #272932;
  border-width: 10px 10px 10px 0;
  border-color: transparent #272932 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #272932;
  color: whitesmoke;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #272932;
    border-width: 10px 10px 10px 0;
    border-color: transparent #272932 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/* SKILLS */

#skills {
  background-color: #272932;
  width: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 0;
}

.skill_title {
  margin: 20px auto;
  font-size: 20px;
  width: 50%;
  text-align: center;
  color: whitesmoke;
}

.nom_langage {
  font-size: 20px;
  color: whitesmoke;
}

@media screen and (max-width: 550px) {
  .skill_title {
    width: 90%;
  }
}

.wrapper_dev {
  width: 80%;
  margin: 0 auto;
}

.skill_bar,
.html_color,
.css_color,
.js_color,
.react_color,
.bootstrap_color,
.php_color,
.postgresql_color,
.git_color {
  height: 45px;
}

.html_color,
.css_color,
.js_color,
.react_color,
.bootstrap_color,
.php_color,
.postgresql_color,
.git_color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272932;
  background-color: #b6c2d9;
}

.html_color p,
.css_color p,
.js_color p,
.react_color p,
.bootstrap_color p,
.php_color p,
.postgresql_color p,
.git_color p {
  font-size: 20px;
}

.skill_bar {
  background-color: whitesmoke;
}

.skill_bar h3 {
  color: whitesmoke;
  text-align: center;
}

.html_color {
  width: 95%;
}

.css_color {
  width: 90%;
}

.js_color {
  width: 60%;
}

.bootstrap_color {
  width: 60%;
}

.php_color {
  width: 40%;
}

.postgresql_color {
  width: 65%;
}

.git_color {
  width: 75%;
}

.langage {
  display: flex;
  flex-direction: row;
}

.langage img {
  height: 35px;
  width: 35px;
  transform: translateY(38%);
  margin-right: 15px;
}

/* PROJETS */

#portfolio {
  width: auto;
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0 auto;
  padding: 30px 0;
}

.portfolio_title {
  margin: 20px auto;
  font-size: 20px;
  width: 50%;
  text-align: center;
  color: #272932;
}

@media screen and (max-width: 550px) {
  .portfolio_title {
    width: 90%;
  }
}

.portfolio_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 30px 30px;
  opacity: 0;
  text-align: center;
  font-family: arial;
}

.card p{
  margin: 20px 20px;
}

.c1 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.c2 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.c3 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.c4 {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.titre {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  background-color: grey;
}

